<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="100">
		<setting label="109" type="lsep"/>
		<setting id="maltService" label="129" type="select" default="anilist.co" values="anilist.co|myanimelist.com" />
		<setting id="maltAnilistUser" visible="eq(-1,0)" type="text" default="" label="101" />
		<setting id="maltAnilistToken" visible="eq(-2,0)" type="text" enable="!eq(-1,)" default="" label="130" />
		<setting visible="eq(-3,0)" label="131" type="action" action="RunScript(service.maltracker, authenticate)"/>
		<setting id="maltMalUser" visible="eq(-4,1)" type="text" default="" label="101" />
		<setting id="maltMalPass" visible="eq(-5,1)" type="text" option="hidden" enable="!eq(-1,)" default="" label="102" />
		<setting label="107" type="lsep" />
		<setting id="maltAutoSync" type="bool" default="false" label="105" />
		<setting id="maltAllowUpdate" type="bool" default="true" label="106" />
		<setting id="maltUpdateProgress" type="bool" enable="eq(-1,true)" default="true" label="118" />
		<setting id="maltUpdateEnabled" type="bool" default="true" label="128" />
		<setting id="maltUpdateTime" type="number" default="4" label="127" enable="eq(-1,true)" />

		<!-- placeholders -->
		<setting id="maltFirstRun" type="text" visible="false" />
		<setting id="maltRelLastUpdate" type="text" visible="false" />
	</category>
	<category label="110">
		<setting id="maltLibraryPath" type="folder" default="" label="103" />
		<setting id="maltMinSeconds" type="number" default="120" label="104" />
		<setting id="maltUpdateAny" type="bool" default="false" label="111" />
		<setting id="maltMonitorLibrary" type="bool" default="true" label="112" />
		<setting id="maltShowPlaying" type="bool" default="true" label="125" />
		<setting id="maltShowUknown" type="bool" default="true" label="126" />
	</category>
	<category label="116">
		<setting label="119" type="lsep"/>
		<setting id="maltShowProgress" type="bool" default="true" label="117" />
		<setting id="maltIndNodes" type="number" enable="eq(-1,true)" default="13" label="120" />
		<setting id="maltIndWrap" type="number" enable="eq(-2,true)" default="13" label="122" />
		<setting id="maltIndOffset" type="number" enable="eq(-3,true)" default="3" label="121" />
		<setting label="123" type="lsep"/>
		<setting id="maltShowAvailable" type="bool" default="true" label="124" />
	</category>
	<category label="113">
		<setting label="108" type="action" action="RunScript(service.maltracker, sync)"/>
		<setting label="114" type="action" action="RunScript(service.maltracker, scan)"/>
		<setting label="115" type="action" action="RunScript(service.maltracker, rel)"/>
	</category>
</settings>
